#Client
CLIENT_GATEWAY_PORT=3000

#NATS
NATS_PORT=8222
NATS_SERVERS=nats://nats-server:4222

#Auth_MS
AUTH_MS_PORT=3004
AUTH_DB_URL=mongodb+srv://********:********@auth-microservices-db.lq53qfa.mongodb.net/AuthDB
JWT_SECRET=palabrasecreta

#Payment_MS
PAYMENTS_MS_PORT=3003
#https://dashboard.stripe.com/acct_1SY89rC9g4TwSDq5/test/apikeys.    de ahi se obtiene la key 
STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3003/api/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/api/payments/cancel
# https://dashboard.stripe.com/acct_1SY89rC9g4TwSDq5/test/workbench/webhooks/we_1SYC72C9g4TwSDq5t2UVdrff?fromWizard=true
# este es el signing del webhook
STRIPE_ENDPOINT_SECRET=

#Order_DB
ORDERS_DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=orders_db


#Orders_MS
ORDERS_MS_PORT=3002
ORDER_DATABASE_URL=postgresql://postgres:123456@orders-db:5432/orders_db?schema=public

#Products_MS
PRODUCTS_MS_PORT=3001
PRODUCTS_DB_URL=file:/usr/src/app/dev.db